header{
    top: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    h1 {
        margin-top: 0;
        color: #3b5ba5;
        font-size:48px;
    }
    background-color:#f3b941;
    a{
        text-decoration: none;
        color:#3b5ba5;
    }
    a:hover{
        background-color: #e87a5d;
        padding: 5px;
        border-radius: 5px;
    }
    ul{
        text-align: center;
    }
    li {
        display: inline;
        padding-right: 30px;

    }

}
